.nav-bg{
   width: 100%; 
   background-color: rgb(192, 150, 9);
}
.navbar-brand img{
    width: 30px;
    border-radius: 50%;
}

.container-fluid{
    font-weight: 500;
    color: black;
    font-size: 20px;
}


.nav-link img{
    width: 25px;

}

.btn.btn-outline-success{
    border-radius: 5px;
    border: 2px solid black;
    font-weight:500 ;
    font-size: 18px;
    
}
.bg-color{
    background-color: rgb(192, 150, 9);
    width: 100%;
    height: 2200px;
 
}


/* nav-end */




/* start-Carousel */

.carousel.slide{
    animation-duration: 2s;
    animation-name: slidein;
    animation-direction:alternate;
    animation-timing-function: ease-in-out;
    animation-play-state: running;
 

}
@keyframes slidein {
    from {
      margin-left: -100%;
      width: 100%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.max-w{
   max-width: 1000px;
   margin-top: 100px;
}
.h-font{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    padding-right: 30px;
    font-weight: 700;
    font-size: 25px;
}
.h1-font{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 25px;

}

.border-bm{
    
    border-bottom: 2px solid rgb(0, 0, 0);
    padding-top: 150px;
    margin-bottom: 5em;
    
}
.imge{
    height: 650px;
}
/* Carousel-end */

/* card-start */

.row.mg-l{
    animation-duration: 3s;
    animation-name: Carousel;
    animation-direction:alternate;
    animation-timing-function: ease-in-out;
    animation-play-state: running;
 


}
@keyframes Carousel {
    from {
      margin-left: 100%;
      width: 100%;
    }
  
    to {
      margin-left: 8%;
      width: 100%;
    }

    

  }

.mg-l{
    margin-left: 100px;
    
    
}
.container-fluid h1{
    text-align: center;
    margin-bottom: 5em;
    margin-left: 40%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 1px 1px   rgb(207, 99, 10);
    border-bottom: 2px solid rgb(207, 99, 10) ;
    width: 50px;

    
}
.container-fluid h2{
    text-align: left;
    margin-top: 3em;
    margin-bottom: 2em;
    font-size: 25px;
    text-shadow: 2px 1px 1px   rgb(207, 99, 10);
    border-bottom: 2px solid rgb(207, 99, 10) ;
    width: 180px;
    padding-bottom: 10px;
    margin-left: 10px;
}

.card-img-top{
    height:220px; 
}
.col-sm-6{
    margin-bottom: 20px;
    margin-left: 200px;
}
.col-md-6 {
    margin-top: 20px;
}

.border-h3 h2{
    margin-top: 6em;
    border-bottom: 2px solid rgb(207, 99, 10) ;
    width: 150px;

}


.border-h4 h2{
    margin-top: 6em;
    border-bottom: 2px solid rgb(207, 99, 10) ;
    width: 190px;

}
.border-bp{
    border-bottom: 2px solid rgb(91, 91, 91);
    padding-top: 150px;
    width: 1000px;
    margin-left: 150px;
    margin-bottom: 50px;
   
}

/* About Us */

.text{
    margin-top: 100px;
}
.col-sm-12 h2{
    display: flex;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 1px 1px   rgb(68, 67, 67);
    border-bottom: 2px solid rgb(207, 99, 10) ;
    border-width: 2px;
    width: 160px;
}
.col-sm-12 h4{
    font-size: 25px;

}
.col-sm-12 p{
    font-size: 15px;
    font-weight: 500;
    color: rgb(129, 54, 1);
}
.p{
    padding-bottom: 100px;
    
}

.container h1{
    text-align: center;
    margin-bottom: 1em;
    padding-top: 150px;
    margin-left: 40%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 1px 1px   rgb(207, 99, 10);
    border-bottom: 2px solid rgb(207, 99, 10) ;
    width: 180px;
}



.img1 {
    float: left;
    margin-right: 2em;
    height: 350px;
    padding-left: 100px;
    width: 470px;
    border-radius: 5px;

}

/* sign up  */

.container-fluid h1{
    text-align: center;
    margin-bottom: 1em;
    padding-top: 150px;
    margin-left: 40%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 1px 1px   rgb(207, 99, 10);
    border-bottom: 2px solid rgb(207, 99, 10) ;
    width: 170px;
}


.s-border{
    border: 2px solid rgb(0, 0, 0);
    background-color:#f5f5dc;
    border-radius: 5px ;
    color: black;
    box-sizing: content-box;
    -moz-box-sizing:content-box;
    font-size:1.1rem;
    line-height: normal;
    width: 90%;
    height: 400px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    
.bg2-color{
    background-color: rgb(192, 150, 9);
    width: 100%;
    height: 500px;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 1.0px;
}

.btn.btn-warning.btn-xl.disabled{
    cursor: pointer;
    opacity: 1;
}

/* notice */

.accordion-h2{
    text-align: center;
    margin-bottom: 2em;
    margin-left: 40%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 1px 1px   rgb(207, 99, 10);
    border-bottom: 2px solid rgb(207, 99, 10) ;
    width: 170px;
}
.bt{
    margin-bottom: 8em;
}

/* for about us */

@media (max-width: 768px) {
    img {
        display: block;
        float: left;
        margin: 0;
        margin-bottom: 1.5em;
        width: 100%;
    }
}
@media (max-width: 576px) {
    .row.mg-l {
        display: block;
        float: left;
        margin-bottom: 1.5em;
        width: 100%;
        
        position: relative;
        top:-3rem;
        right: 100px; 

    
    }
}
@media (max-width: 329px) {
    .row.mg-l {
        display: block;
        float: left;
        margin-bottom: 1.5em;
        width: 100%;
        
        position: relative;
        top:-3rem;
        right: 120px; 

    
    }
}


@media (max-width: 576px) {
    .img-responsive.img1 {
        display: block;
        float: left;
        margin-bottom: 1.5em;
        width: 100%;
        position: relative;
        top:-3rem;
        right: 20%;

    
    }
}

@media (max-width: 329px) {
    .img-responsive.img1 {
        display: block;
        float: left;
        margin-bottom: 1.5em;
        width: 300px;
        position: relative;
        top:-3rem;
        right: 23%;

    
    }
}




/* for sign up */

@media (max-width: 768px) {

    .s-border {
        height: 850px;
        width: 90%;
        margin-bottom: 20px;
        
    }
    
}
@media (max-width: 768px) {

    .bg2-color {
        height: 950px;
        width: 100%
    }
    
}

@media (max-width: 1000px) {

    .nav-bg {
        height: 100%;
        width: 100%;


    }
    
}
@media (max-width: 1000px) {

    .navbar-toggler {
       position: relative;
       bottom: 10px;


    }
    
}
@media (max-width: 1000px) {

    .navbar-brand {
       padding-top: 10px;
    


    }
    
}
@media (max-width: 576px) {

    .container-fluid h2 {
        margin-left:-80px;
        display: flex;
    
    }
    
}
@media (max-width: 576px) {

    .border-bp {
        margin-left:0px !important;
    }
    
}
@media (max-width: 576px) {

    .container-fluid h1 {
        align-items: center;

        transform: translate(-50% , -50%)!important;

  

    
    }
    
}

/* carousel slide */

@media (max-width: 576px) {

    .carousel-inner {
        
        height: 400px;

  

    
    }
    .d-block.w-100.imge{
        height: 260px;

    }
    
}
